<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="display_all.css" rel="stylesheet">
  <script src="display_all.js"></script>

</head>
<body>
  <%- include ('../partials/header') %>
  <br><br>
  <form id="form_id" >
    <label for="input">Input username: </label>
    <input type="text" id="user_input_id" name="input">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <p>Showing for Username:</p><p id="user_name_p_id"><%=whom||"NONE"%></p>
  <br><br>
  <table id="table" >
    <tr id="table_heading" >
      <th> Name  </th>
      <th> Content </th>
      <th> Deletion Button </th> 
      <th> Download Button </th>
    </tr>
    <% for(let k in dict) {%>
      <tr align="center">
        <td> <%=k %>  </td>
        <td> <img src="<%= dict[k]%>" alt="<%= dict[k]%>" height=300 width=300> </td>
        <td> <button id="id_delete_<%= k%>" class="delete_button" name="<%= k%>">Delete</button> </td> 
        <td> <button id="id_download_<%= k%>" class="download_button" name="<%= k%>"><a href="/download_all/<%=whom%>/<%= k%>" download="<%= k%>">Download</a> </button> </td> 
      </tr>
    <%}%>
  </table>
  <script>
    let user_name=document.getElementById('user_name_p_id');

let delete_buttons=document.querySelectorAll(".delete_button");
delete_buttons.forEach((b)=>{
  b.addEventListener('click',async (e)=>{
    console.log(`/delete_all/${user_name.textContent}/${b.name}`)
    let res= await fetch(`/delete_all/${user_name.textContent}/${b.name}`,{
      method:'GET',
    });

    alert('file deleted');
    location.reload();
  });
  
});
  </script>
</body>
</html>